* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background-color: #1E1E1E;

    font-family: 'Noto Sans';
}

header {
    background: #1E1E1E;

    width: 100%;

    position: sticky;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 5%;
    margin-bottom: 50px;

    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgb(0, 0, 0); 

}

nav  {
    box-sizing: border-box;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-right: 50px;

    text-decoration: none;
}

nav .categories {
    font-weight: 600;

    color: #FFF;
    
    transition: .15s ease;
}

nav .categories:hover {
    border-bottom: 1px solid #ffd900de;

    padding-bottom: 5px;

    color: #ffd900de;
    text-shadow: .5px .5px .5px #ffd900de;
}

.logo { 
    width: 60px;
    height: 60px;
}

.button {
    margin-left: auto;

    color: #FFF;

    border: 2px solid transparent;
    background-color: black;
    padding: 7px 16px;

    transition: .1s;
}

.button:hover {
    transform: scale(1.07);

    color: #ffd900;
}

.logopos {
    margin-right: auto;
}

.icons img {
    width: auto;
    
    transition: .15s;
    /* padding: 15px 0; */
}
.icons img:hover {
    transform: scale(1.15);
}

.search {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    all: unset;
    
    font-family: 'Noto Sans';
    font-size: 16px;

    background-color: #000;
    height: 100%;
    width: 50%;
    padding: 6px 10px;

    border-radius: 10px;
}

::placeholder {
    font-weight: 500;
    color: #FFF;
    opacity: 0.7; 
  }

input[type=search] {
    background-color: #000000;
    color: white;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
main,
.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

main .box h1{
    color: #FFF;
    cursor: default;
}

.logoicons {
    display: grid;
    grid-template-columns: repeat(6, 56px);
    gap: 20px; 

    /* border: 2px solid #FFF; */
    border-radius: 20px;

    padding: 90px;
    margin-top: -50px;
}

.icons {
    /* border: 2px solid #FFF; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    border: 2px solid #FFF;
    border-radius: 25px;

}